includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - tests/Feature/ArchTest.php
        - tests/database/*
